body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #f8b400;
    color: white;
    padding: 20px;
}

.galeria {
    margin: 20px;
}

.imagens img {
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}